// Variables
$registrationBlack: #000000;
$sectionHeading: 24px;
$offWhite: #f8f9fb;
$bannerHeading: 36px;
$welldonBlue: #6F97B0;
$whiteSmoke: #F7F7F7;
$steelBlue: #4281A4;
$maximumBlueGreen: #23BDC3;
